/*html,body{
    height: 100%;
}*/
input {
    width:75px;
    float:right;
    border:1px solid rgb(211,211,211);
    border-radius: 0.3rem;
    margin: 0px 5px 0px 0px;
}
label {
    display: flex;
    height:100%;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
.beta-label {
    width:20px;
    margin: 0px 0px 0px 5px;
}
.slide-cont {
    width:100%;
    padding:0px;
    display: flex;
    align-items: center;
    padding: 0px 0px 10px 0px;
}
.slider-div {
    width:100%;
    margin: 0px 20px 0px 12px;
}




/*.chart, .info {
    display:flex;
    align-items: center;
    background-color: rgb(220, 220, 220)
}*/
/*div, label {
    background-color: gray;
    border:1px solid black;
}*/
